
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  }


  
  h1 {
    text-align: center;
    margin: 20px;
    font-size: 50px;
    color: rgb(22, 22, 23);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
  }

  .left{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(720deg,rgb(50, 3, 71),white);
  }

  .left .content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  textarea{
    margin: 10px;
    padding: 10px;
    background-color: rgb(201, 235, 235);
    color: black;
    font-size: 20px;
    border: none;
    resize: none;
    border-radius: 10px;
  }

  textarea::placeholder{
    color: black;
    font-size: 20px;
  }
.content button {
    width: 300px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border: none;
    color: #333;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;

  }
  
  /* Button hover effect */
  .content button:hover {
    color: #fff;
    /* background-color: #333; */
    background: linear-gradient(to left,purple,white);
  }
  

  .right{
    width: 50%;
    background: linear-gradient(720deg,purple,white);
  }

  #notes_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
  }